/*Estilo de ancho 100% de botones de formulario de contacto*/
.contacto-form-button {
    width: 100%;
}
/*Estilo de color de boton de envio de formulario de contacto*/
.contacto-form-button-color {
    background-color: #EEDE03;
    border: none;
    transition: background-color 500ms;
    &:hover {
        background-color: #bbae00;
    border: none;
    }
}