/*Estilo de ancho 100% de botones de formulario de contacto*/
.contacto-form-button {
    width: 100%;
}
/*Estilo de color de boton de envio de formulario de contacto*/
.contacto-form-button-color {
    background-color: #EEDE03;
    border: none;
    transition: background-color 500ms;
    &:hover {
        background-color: #bbae00;
    border: none;
    }
}

.contacto-form-button-color-vaciar {
    background-color: $neutroclaro;
    color: $neutrooscuro;
    border: none;
    transition: background-color 500ms;
    &:hover {
        background-color: $neutrooscuro;
        color: $neutroclaro;
    border: none;
    }
}

.fotos-contacto {
    border-radius: 50%;
    width: 100%;
    max-width: 200px;
}
.contacto-datos-bgcolor {
    background-color: $secundario;
}
.contacto-datos-personales-padding {
    padding-top: 40px;
}
.contacto-datos-personales-individuo-vertical-alignment {
    display: flex;
    align-items: center;
}
#contactateconnosotros {
    color: white;
}
#dejanostusdatos {
    color: $secundario;
}