
/*Estilo de botón del home*/
.general--botones {
    padding: 10px;
    background-color: #EEDE03;
    color: $neutrooscuro;
    border: none;
    border-radius: 5px;
    transition: background-color 500ms;
    &:hover {
        background-color: #bbae00;
        color: white;
    border: none;
    }
}
/*el siguiente bloque evita que a veces las 3 columnas queden dos arriba y una abajo cambiando el contenido que se muestra en dispositivos mobiles*/
@media only screen and(max-width: 1199px) {
    .home-description-desktop-visibility {
        display: none;
    }
}
@media only screen and(min-width: 1200px) {
    .home-description-mobile-visibility {
        display: none;
    }
}