/*Asignación de imagen de fondo al titular*/
.secciones-header-titular {
    background-image: url("../images/fondo_cabecera.jpg");
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Estilos del texto de los titulares */
.secciones-header-titular {
    background-color: #333333; /* Color si no se ve la imagen */
    color: $secundario;
    font-weight: bold;
    z-index: 2;
    width: 100%;
    padding-top: 30px;
    h3 {
        color: white;
    }
}
.secciones-header-shadow {
    text-shadow: 3px 3px 5px $neutrooscuro, -1px -1px 5px black;
}