/*reseteo de CSS*/
* {
    margin: 0;
    padding: 0;
    }

/*colores globales*/
$principal: #EEDE03;
$secundario: #F5BC32;
$acento: #A4243B;
$neutroclaro: #CED0CE;
$neutrooscuro: #3F403F;

/*importacion de estilos SASS*/
@import "navbar";
@import "_imagenes-carrusel-home";
@import "ubicacion";
@import "timeline";
@import "animaciones_ubicacion";

/*Estilo de los botones del sitio*/

.general--botones {
    border-radius: 20px;
    border: solid 1px;
    border-color: $acento;
    background-color: $acento;
    color: $neutroclaro;
    padding: 5px 15px;
}

/* padding para el contenido de las secciones que lo necesitan*/
.seccion--padding {
    padding: 2em;
}
/*padding de titulos de secciones*/
.content_title--padding {
    padding-bottom: 10px;
}
/*estilo del footer*/
footer {
    background-color: $neutrooscuro;
    color: $neutroclaro;
}
/*posicion del carrusel al inicio de la página*/
/*esto me gustaría poder resolverlo sin tener que especificar los pixeles, pero de momento no pude*/
.content_afternavbar--position {
    position: relative;
    top: -80px;
}
/* Centrar el texto de un div*/
.div_text--center {
    text-align: center;
}
.cabecera_cuerpo_padding  {
    padding: 20px;
}
/*estilo del header de la sección de contacto*/
    .secciones-header-titular {
        background-image: url("../images/living.jpg");
        height: 25vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
        /* Position text in the middle of the page/image */
    .secciones-header-titular {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        z-index: 2;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        padding-top: 30px;
    }
    .secciones-header-shadow {
        text-shadow: 2px 2px 4px #000000;
    }
/*Estilo de ancho 100% de botones de formulario de contacto*/
.contacto-form-button {
    width: 100%;
}
/*Estilo de color de boton de envio de formulario de contacto*/
.contacto-form-button-color {
    background-color: #EEDE03;
    border: none;
}
.contacto-form-button-color:hover {
    background-color: #bbae00;
    border: none;
}