/*¡HOLA, CRISTIAN!
Sabía que ibas a venir a chusmear que hay acá, así que te dejé el código lo mejor comentado posible.
También trate de usar BEM, lo mejor que pude como yo lo entendí.
Espero que te guste el sitio.
¡Abrazo!*/

/*reseteo de CSS*/
* {
    margin: 0;
    padding: 0;
    }

/*colores globales*/
$principal: #EEDE03;
$secundario: #F5BC32;
$neutroclaro: #CED0CE;
$neutrooscuro: #3F403F;

/*importacion de estilos SASS*/
@import "navbar";
@import "imagenes-carrusel-home";
@import "ubicacion";
@import "timeline";
@import "animaciones_ubicacion";
@import "fade_slide_in";
@import "contacto";
@import "home";
@import "titulares_secciones";
@import "footer";

/*ALGUNOS POSICIONAMIENTOS ÚTILES EN TODO EL SITIO*/

/* padding para el contenido de las secciones que lo necesitan*/
.seccion--padding {
    padding: 2em;
}
/*padding de titulos de secciones*/
.content_title--padding {
    padding-bottom: 10px;
}

/* Centrar el texto de un div*/
.div_text--center {
    text-align: center;
}
.column-padding {
    padding: 15px;
}
/*Enlaces comunes en parrafos*/
.content-links {
    color: $secundario;
    font-weight: 700;
}